.trustedby{
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #fafafa;
    .container{
        width: 760px;
        display: flex;
        align-items: center;
        gap:20px;
        color:lightgray;
        font-weight: 500;
        justify-content: center;

        img{
            height: 50px;
            // width: 30px;
            object-fit: cover;
        }
    }
}